.tasks-list {
  position: relative;
    list-style-type: none;
    margin: 0 auto;
    margin-top: 10rem;
    padding: 1rem;
    width: 90%;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 1rem;
    background-color: #eeeee6;
  }

 

  .inventory {
    margin-bottom: 5rem;
  }